.navbar {
    background-color: #4d4d4d;
    color: white;
    z-index: 2;
}

#menu {
    list-style-type: none;
    display: flex;
}

#menu li {
    padding: 1.5em;
    font-size: 1.3em;
    border-bottom: 1px solid #4d4d4d;
}

#menu li:hover {
    cursor: pointer;
    border-bottom: 1px solid #00aaff;
    transform: translateY(-10px);
    transition: 0.4s;
}


#menu-img {
    position: absolute;
    top: 35%;
}

.navbar-links{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .navbar-links ul {
        padding: 0;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: rgba(30, 30, 30, 0.9);
        /* background-color: rgba(45, 58, 58, 0.75); */
        top: 10.4em;
    }
    #menu li{
        border: none;
    }
}